<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Waiter Webapp</h1>
        <div class="row">
            {{#if messages.alert}}
            <div class="alert alert-danger" role="alert" style="font-size: 2vh;"><strong>{{messages.alert}}</strong></div>
            {{/if}}
            <form action="/waiter" method="post">
                <div class="col-12">
                    <input type="text" name="username" id="username">
                    <button type="submit" class="btn btn-primary">Waiter</button>
                </div>
            </form>
            <br>
            <br>
            <form action="/days" method="get">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Owner</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>