<div class="container">
    <div class="row align-items-start">
        <h1>New-Waiter Signup</h1>
        <div class="col-12">
            {{#if messages.alert}}
            <div class="alert alert-danger" role="alert" style="font-size: 2vh;"><strong>{{messages.alert}}</strong></div>
            {{/if}}
            <div class="row align-items-start">
                <span><strong>Enter your name and username to access the weekdays</strong></span>
                <br>
                <br>
                <form action="/register" method="POST">
                    <label><strong>Username</strong></label>
                    <input type="text" placeholder="" name="newuser">
                    <label><strong>Full Name</strong></label>
                    <input type="text" placeholder="" name="fullname">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-12">
                <form action="/home" method="GET">
                    <button type="submit" class="btn btn-primary"><em>Home</em></button>
                </form>
            </div>
        </div>
    </div>
</div>