body {
	background-color: #FF007F;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
	margin: auto;
	background-color: honeydew;
	width: 80%;
	height: 80%;
	padding: 1em;
}
h1{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #FF007F;
}
.row{
	text-align: center;
	display: flex;

}

.counter {
	background-color: lightgray;
	font-size: 2em;
	width: 3em;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 0.25em;
}
